<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>IMG_0605.png</string>
		<key>name</key>
		<string>你向前走_不必担忧</string>
		<key>time</key>
		<string>16-01-08</string>
		<key>picture</key>
		<array>
			<dict>
				<key>picname</key>
				<string>IMG_0260.png</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0261.png</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0262.png</string>
			</dict>
		</array>
		<key>text</key>
		<string>我们总是能够说出很多大道理，可仍然过不好这一生  -- by  OldWang.Mr</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IMG_0364.png</string>
		<key>name</key>
		<string>D妹Doha</string>
		<key>time</key>
		<string>16-01-08</string>
		<key>picture</key>
		<array>
			<dict>
				<key>picname</key>
				<string>IMG_0363.png</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0366.png</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0367.png</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0368.png</string>
			</dict>
		</array>
		<key>text</key>
		<string>我是个贪婪的人</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IMG_0082.JPG</string>
		<key>name</key>
		<string>隔壁老王</string>
		<key>time</key>
		<string>16-01-10</string>
		<key>picture</key>
		<array/>
		<key>text</key>
		<string>看你那屌样我就想给你一刀 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿 嘿嘿嘿</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IMG_0082.JPG</string>
		<key>name</key>
		<string>隔壁老王</string>
		<key>time</key>
		<string>16-01-10</string>
		<key>picture</key>
		<array>
			<dict>
				<key>picname</key>
				<string>IMG_0080.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0081.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0084.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0130.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0133.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0136.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0140.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0141.JPG</string>
			</dict>
			<dict>
				<key>picname</key>
				<string>IMG_0143.JPG</string>
			</dict>
		</array>
		<key>text</key>
		<string></string>
	</dict>
</array>
</plist>
