<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>IMG_0163.JPG</string>
		<key>name</key>
		<string>星巴克</string>
		<key>spend</key>
		<string>30</string>
		<key>distance</key>
		<string>100</string>
		<key>hot</key>
		<string>高</string>
		<key>cengKaNum</key>
		<string>6</string>
		<key>shaiKaNum</key>
		<string>8</string>
		<key>activetyNum</key>
		<string>9</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IMG_0198.JPG</string>
		<key>name</key>
		<string>COSTA</string>
		<key>spend</key>
		<string>38</string>
		<key>distance</key>
		<string>200</string>
		<key>hot</key>
		<string>高</string>
		<key>cengKaNum</key>
		<string>10</string>
		<key>shaiKaNum</key>
		<string>12</string>
		<key>activetyNum</key>
		<string>5</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IMG_0209.JPG</string>
		<key>name</key>
		<string>肯打鸡</string>
		<key>spend</key>
		<string>8</string>
		<key>distance</key>
		<string>50</string>
		<key>hot</key>
		<string>普通</string>
		<key>cengKaNum</key>
		<string>2</string>
		<key>shaiKaNum</key>
		<string>2</string>
		<key>activetyNum</key>
		<string>2</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>IMG_0211.JPG</string>
		<key>name</key>
		<string>ICE QUEEN</string>
		<key>spend</key>
		<string>68</string>
		<key>distance</key>
		<string>1000</string>
		<key>hot</key>
		<string>低</string>
		<key>cengKaNum</key>
		<string>3</string>
		<key>shaiKaNum</key>
		<string>4</string>
		<key>activetyNum</key>
		<string>5</string>
	</dict>
</array>
</plist>
